@charset "UTF-8";

.header {
  width: 100%;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.main {
  display: block;
  float: left;
  width: 660px;
}

.sidemenu {
  float: right;
  width: 275px;
}

.footer {
  width: 100%;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.header, .main, .sidemenu, .footer {
  border: 1px solid #aaa;
  background-color: #ccc;
}

.header, .footer {
  height: 100px;
}

.main, .sidemenu {
  height: 500px;
}